body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00BFA5;
    color: #fff;
  }
  
  header {
    background-color: #00897B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .contact-info {
    flex-basis: 30%;
    padding-right: 40px;
  }
  
  .contact-info p {
    margin-bottom: 20px;
  }
  
  form {
    flex-basis: 70%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex-basis: 48%;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00BFA5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }