 /* Estilos basicos para el formulario */
 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4d36f8;
    margin: 0;
    padding: 0;
}
.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960;
    margin: 20px auto;
    background-color: #4d36f8;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0,0, 0 0.1);
}
.columna {
    flex: 1;
    min-width: 200px;
    margin: 30px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #f4f0f0;
}
input,select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(250,249,249);
    border-radius: 5px;
    background-color: rgb(0,56,211);
}
.boton{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: dodgerblue;
    color: rgb(247,248,249);
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background-color: dodgerblue;
}
/*Estilos para los iconos*/
.iconos{
    text-align: center;
    margin-bottom: 20px;
}
.icono{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: dodgerblue;
    color: aliceblue;
    border-radius: 50px;
    margin: 0 5px;
    line-height: 30px;
}
/*Estilos responsivos */
@media (max-width:768px){
    .columna{
        flex-basis: 100%;
        max-width: 100%;
    }
}